h1{
  text-transform: capitalize;
}
.p_pertama{
  text-align: justify;
}
#p_kedua{
  text-decoration: underline;
}
*{
  color: white;
  background-color: green;
}
.p3,.p4{
  text-align: center;
}
.p5{
  text-decoration: line-through;
}
